<h1>Tabla de Productos</h1>
<div class="table-responsive">
  <table class="table table-dark table-striped">
    <thead>
      <tr class="text-light">
        <th scope="col">#ID</th>
        <th scope="col">Código</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio de compra</th>
        <th scope="col">Precio de venta</th>
        <th scope="col">Ganancia</th>
        <th scope="col">Existencia</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produc of productos" class="text-light">
        <th scope="row">{{ produc.id }}</th>
        <td>{{ produc.codigo }}</td>
        <td>{{ produc.descripcion }}</td>
        <td>{{ produc.precio_compra | currency : "S/" }}</td>
        <td>{{ produc.precio_venta | currency : "S/" }}</td>
        <td>{{ produc.ganancia | currency : "S/" }}</td>
        <td>{{ produc.existencia }}</td>
        <td>
          <a class="btn btn-primary" [routerLink]="['/producto', produc.id]"
            >✏</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
