<div class="mx-auto">
  <form class="form-horizontal" #formProducto="ngForm">
    <fieldset>
      <!-- Form Name -->
      <legend class="d-flex align-items-center gap-2">
        PRODUCTO NRO:
        <span class="text-primary fw-bold fs-2">{{ id | uppercase }}</span>
      </legend>

      <!-- Text input-->
      <div class="form-group mb-3">
        <label class="col-md-4 control-label" for="textinput"
          >Código de Barras</label
        >
        <div class="col-md-4">
          <input
            required
            id="textinput"
            name="codigo"
            type="number"
            class="form-control input-md"
            [(ngModel)]="producto.codigo"
          />
        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group mb-3">
        <label class="col-md-4 control-label" for="textarea">Descripcion</label>
        <div class="col-md-4">
          <textarea
            class="form-control"
            id="textarea"
            name="descripcion"
            [(ngModel)]="producto.descripcion"
          ></textarea>
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group mb-3">
        <label class="col-md-4 control-label" for="textinput"
          >Precio de Compra</label
        >
        <div class="col-md-4">
          <input
            required
            id="textinput"
            name="precio_compra"
            type="number"
            placeholder="placeholder"
            class="form-control input-md"
            [(ngModel)]="producto.precio_compra"
          />
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group mb-3">
        <label class="col-md-4 control-label" for="textinput"
          >Precio de Venta</label
        >
        <div class="col-md-4">
          <input
            required
            id="textinput"
            name="precio_venta"
            type="number"
            placeholder="placeholder"
            class="form-control input-md"
            [(ngModel)]="producto.precio_venta"
          />
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group mb-3">
        <label class="col-md-4 control-label" for="textinput">Ganancia</label>
        <div class="col-md-4">
          <input
            required
            id="textinput"
            name="ganancia"
            type="number"
            placeholder="placeholder"
            class="form-control input-md"
            [(ngModel)]="producto.ganancia"
          />
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group mb-3">
        <label class="col-md-4 control-label" for="textinput">Existencia</label>
        <div class="col-md-4">
          <input
            required
            id="textinput"
            name="existencia"
            type="number"
            placeholder="placeholder"
            class="form-control input-md"
            [(ngModel)]="producto.existencia"
          />
        </div>
      </div>
    </fieldset>
    <button
      class="btn btn-primary"
      type="submit"
      (click)="actualizar()"
      [disabled]="formProducto.invalid"
    >
      Actualizar
    </button>
  </form>
</div>
